<html lang="pt-br">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>

        <div class="about-content">
            <h2>About me</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium aspernatur saepe quas fugiat impedit nulla repellendus consequuntur? Error ea rem exercitationem tenetur ipsa itaque corporis quis recusandae eligendi. Rerum, maiores.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium aspernatur saepe quas fugiat impedit nulla repellendus consequuntur? Error ea rem exercitationem tenetur ipsa itaque corporis quis recusandae eligendi. Rerum, maiores.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium aspernatur saepe quas fugiat impedit nulla repellendus consequuntur? Error ea rem exercitationem tenetur ipsa itaque corporis quis recusandae eligendi. Rerum, maiores.</p>
        </div>

        <%- include("./partials/footer.ejs") %>
    </body>
</html>
